.home-container {
    text-align: center;
    padding: 20px;
    color: #fff;
  }
  
  .header {
    background-color: #4CAF50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .content {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .content h2 {
    color: #4CAF50;
  }
  
  .content p, .content ul {
    text-align: left;
    margin: 0 10%;
  }
  
  .content ul {
    list-style: none;
    padding: 0;
  }
  
  .content ul li {
    background: #444;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
  